<div class="flex-container">
  <div class="header">GenLook</div>
  <form action="" class="form-group" [formGroup]="registerForm">
    <div><input class="form-control" type="text" placeholder="your account" formControlName="account"></div>
    <div [hidden]="!account.invalid">account is invalid</div>
    <div><input class="form-control" type="password" placeholder="password" formControlName="password"></div>
    <div [hidden]="!password.invalid">password is invalid</div>
    <div><input class="form-control" type="password" placeholder="confirm password" formControlName="confirmPassword"></div>
    <div [hidden]="(this.registerForm.value.password === this.registerForm.value.confirmPassword || confirmPassword.untouched )" >password is not same</div>
    <div><input class="form-control" type="text" placeholder="first name" formControlName="firstName"></div>
    <div [hidden]="!firstName.invalid">firstname is invalid</div>
    <div><input class="form-control" type="text" placeholder="last name"  formControlName="lastName"></div>
    <div [hidden]="!lastName.invalid">lastname is invalid</div>
    <div class="btn-signin" ><button class="btn btn-primary" [disabled]="registerForm.invalid" (click)="register()">Create Account</button></div>
    <div class="create-account" [routerLink]="['/login']" routerLinkActive="router-link-active">Back to sign in</div>
  </form>
  <app-date-picker></app-date-picker>
</div>
