<div class="row">
  <div class="col-sm-4"><img class="img-fluid" src="../../../assets/image/temp.png" alt=""></div>

  <div class="col-sm-8">
    <div class="col">
      <div class="row">
        <div class="col-sm-3">Garden By The Bay</div>
        <div class="col-sm-3">Available</div>
        <div class="col-sm-3">4.5</div>
        <div class="col-sm-3">10$</div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm">des</div>
      </div>
      <div class="row">
        <div class="col-sm"><button class="btn btn-primary">cart</button></div>
      </div>
    </div>
  </div>
</div>