<div class="row">
  <div class="col-sm-4"><img class="img-fluid" src="../../../assets/image/temp.png" alt=""></div>

  <div class="col-sm-8">
    <div class="col">
      <div class="row">
        <div class="col-sm-3 title">{{activities.name}}</div>
        <div class="col-sm-3 status">{{activities.status}}</div>
        <div class="col-sm-3 point">{{activities.rateStart}}</div>
        <div class="col-sm-3 price">{{activities.salePrice}}</div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm">{{activities.description}}</div>
      </div>
      <div class="row">
        <div class="col-sm-2" *ngIf="activities.status === outCart"><button class="btn btn-primary" (click)="addToCart()">add to cart</button></div>
        <div class="col-sm-2" *ngIf="activities.status === outCart || activities.status === inCart"><button class="btn btn-primary" (click)="addToCart()">paying</button></div>
        <div class="col-sm-2" *ngIf="activities.status === inCart"><button class="btn btn-primary" (click)="addToCart()">remove</button></div>
        <div class="col-sm-2" *ngIf="activities.status === inPaying"><button class="btn btn-primary" (click)="addToCart()">cancel</button></div>
      </div>
    </div>
  </div>
</div>