.flex-container{
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    .header{
        margin-left: 17px;
        font-size: 25px;
        font-weight: bold;
        color: #FF6F00;
        margin-bottom: 10px;
    }

    .flex-container-list{
        display: flex;
        flex-direction: row;
        background-color: #FF6F00;
        justify-content: space-between;

        .address-office{
            margin: 20px;
    
            app-address {
                font-size: 18px;
                color: white;
                font-weight: bold;
                margin: 10px;
            }
        }
    }
}